
<h1>Listado de productos</h1>

<form method="post">
    <label>Dirección de envío</label>
    <input type="text" name="direccion"
           class="form-control" />
    <button class="btn btn-success">
        Realizar pedido
    </button>
    <ul>
        <li>
            <input type="checkbox" name="producto" class="form-control"
                   value="Tesla 80000€" />Tesla 80.000 €
        </li>
        <li>
            <input type="checkbox" name="producto" class="form-control"
                   value="IPhone 21 8.000 €" />IPhone 21 8.000 €
        </li>
        <li>
            <input type="checkbox" name="producto" class="form-control"
                   value="Ferrari 250000€" />Ferrari 250000€
        </li>
        <li>
            <input type="checkbox" name="producto" class="form-control"
                   value="Ordenador portatil 1.200 €" />Ordenador portatil 1.200 €
        </li>
    </ul>
</form>
